
.profile-section {
  background: url("../../images/background.jpg");
  background-size: cover;
  background-position: center;
  /* background-blend-mode: darken; */

  /* border-top: 2px solid rgba(3, 172, 14, 0.1); */
}

.profile-title {
  color: black;
  text-align: center;
  /* background-color: palevioletred; */
}

.profile-card {
  margin: 50%;
  width: 300px;
  /* padding: 30px; */
  background-color: yellowgreen;
  border: 2px solid palevioletred;
  border-radius: 20px;

  margin: auto;

  /* box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15); */
}

.profile-card-top-section {
  /* border-bottom: 1px solid rgba(3, 172, 14, 0.4); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(3, 172, 14, 0.8); */

  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  padding: 6px;
}

.profile-id {
  color: black;
  font-size: 14px;
  margin-bottom: 3px;
}

.profile-card-bottom-section {
  padding: 12px;
  /* background-color: rgba(0, 0, 0, 0.6); */

  /* border-bottom: 1px solid rgba(3, 172, 14, 0.4); */

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 80%;

  aspect-ratio: 1 / 1;

  border-radius: 50%;

  /* box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.3); */
  margin: auto;
  padding: 0 !important;
}

.profile-name {
  color: black;
  font-size: 24px;
}

.profile-desc {
  color: black;
  font-size: 16px;
  align-self: flex-start;
}

.profile-card-outside-section {
  padding: 12px;
  background-color: palevioletred;

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  display: flex;
  justify-content: center;
}

/* For Modal */

.profile-modal {
  display: flex;
  flex-direction: column;
}
/* 
.modal-content {
  background-color: white;
  box-shadow: 0px 0px 8px 2px rgb(255 255 255 / 35%);
} */

.profile-modal-img {
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* color: palevioletred; */
  margin: auto;
  /* background-color: palevioletred !important; */
  border: 1px solid;
  /* box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.3); */
}

.modal-content {
  background-color: yellowgreen !important;
  /* box-shadow: 0px 0px 8px 2px rgb(255 255 255 / 35%); */
}

.profile-modal-btn {
  display: flex;
  margin: auto;
  color: grey;
  background-color: white;
}

@media screen and (max-width: 576px) {
  .modal {
    --bs-modal-width: 90% !important;
    padding: 24px;
  }

  .detail-review-control {
    width: 80%;
  }
}
